/* variables */
:root {
  --primaryclr: #5F1646; 
  --primarylightclr:#FAFAF5;
  --secondaryclr: #FCBC01;
  --secondarylightclr: #F5CE64;
  --accentclr: #054e37;
  --accentlightclr: #12a537;
  --textlightclr: #fff;
  --textcolor: #333333;
  --sans-serif: Jost, sans-serif;
}


/* Main style */
body {
  font-family: var(--sans-serif);
}

/* Navigation bar */
.navbar {
  background-color: var(--primaryclr);
}

.nav-link,
.navbar-brand {
  color: var(--textlightclr);
  font-weight: 700;
}

.nav-link:hover,
.navbar-brand:hover {
  color: var(--secondarylightclr);

}

.nav-link:active,
.navbar-brand:active {
  color: var(--secondarylightclr);

}

.nav-link:focus,
.navbar-brand:focus {
  color: var(--secondarylightclr);

}

.navbar-item {
  font-size: 20px;
}

/* Header */
#logo {
  background-color: var(--primaryclr);
}

/* Jumbotron */
.type-super {
  color: var(--secondarylightclr);
}

/* Cards section */
.card-img-top {
  height: 200px;
  object-fit: contain;
}

.type-large-fat {
  font-size: 45px;
  color: var(--textcolor);
}

#cards-container {
  margin: 50px 0;
  padding: 50px 0;
}

.card-text {
  line-height: 2;
}

/* FAQ section */
#questions,
.accordion-item,
.accordion-header,
.accordion-button {
  background-color: var(--primaryclr);
  color: var(--textlightclr);
}

/* Newsletter sign-up */
.news-cust {
  color: var(--primaryclr);
}

.btn-news {
  background-color: var(--secondarylightclr);
  color: var(--primaryclr);
}

.btn-news:hover {
  background-color: var(--accentclr);
  color: var(--textlightclr);
}

/* Footer section */
.bi-arrow-up-circle {
  color: var(--textlightclr);
}

.bi-arrow-up-circle:hover {
  color: var(--secondarylightclr);
}

.card-bg-primary {
  background-color: var(--primaryclr);
  border: 1px solid var(--primaryclr);
}

.btn-acc-round {
  background-color: var(--textlightclr);
  border: 5px solid var(--textlightclr);
  border-radius: 50%;
  color: var(--textlightclr);
  font-weight: 700;
  margin: 15px;
}

.btn-acc-round:hover {
  background-color: var(--secondarylightclr);
  border: 5px solid var(--secondarylightclr);
  color: var(--textlightclr);
  box-shadow: 0 0 11px rgba(33, 33, 33, .5);
}

a,
a:hover {
  text-decoration: none;
  color: var(--primaryclr);
}